@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 1.5;

  color: #262626;
  --x: calc(var(--posX, 0) * 1px);
  --y: calc(var(--posY, 0) * 1px);

  background-image: linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)),
    radial-gradient(
      90% 100% at calc(50% + var(--x)) calc(0% + var(--y)),
      rgb(200 200 200),
      rgb(022 000 045)
    ),
    radial-gradient(
      100% 100% at calc(80% - var(--x)) calc(0% - var(--y)),
      rgb(250 255 000),
      rgb(036 000 000)
    ),
    radial-gradient(
      150% 210% at calc(100% + var(--x)) calc(0% + var(--y)),
      rgb(020 175 125),
      rgb(000 010 255)
    ),
    radial-gradient(
      100% 100% at calc(100% - var(--x)) calc(30% - var(--y)),
      rgb(255 077 000),
      rgb(000 200 255)
    ),
    linear-gradient(60deg, rgb(255 000 000), rgb(120 086 255));
  background-blend-mode: overlay, overlay, difference, difference, difference,
    normal;
}

a {
  text-decoration: none;
  color: rgb(38, 38, 38);
}

span {
  color: rgb(140, 86, 20);
}

li {
  list-style-type: none;
}

h2 {
  font-size: 1.2rem;
}

h4 {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.container {
  width: 1000px;
  background-color: rgb(217, 214, 210);
  filter: drop-shadow(1px 1px 10px rgb(38, 38, 38));
  border-radius: 0.5em;
  margin: 5em auto;
  padding: 20px;
}

.nav-item,
.pdf-link {
  margin: 0 1em;
  transition: all 0.5s ease-in-out;
}

.nav-item:hover,
.pdf-link:hover {
  transform: scale(1.2);
}

.pdf-link {
  background-color: rgb(140, 86, 20);
  color: rgb(255, 255, 255);
  padding: 2px 10px;
  border-radius: 10px;
}

.nav {
  margin-right: 2em;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cv-name-info {
  display: flex;
  justify-content: space-around;
  margin: 2em auto;
}

.cv-photo img {
  object-fit: cover;
  width: 12em;
  height: 12em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 50%;
  border: 3px solid rgb(140, 86, 20);
}

.cv-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-name h1 {
  filter: drop-shadow(1px 8px 5px rgb(140, 86, 20));
  font-size: 3em;
  margin-bottom: 0.1em;
  letter-spacing: 0.2em;
}

.cv-name h3 {
  text-transform: uppercase;
  letter-spacing: 1em;
  font-weight: 200;
}

.main {
  display: flex;
  padding-bottom: 2em;
  margin-bottom: 3em;
}

.main-left {
  margin-right: 2em;
  background-color: rgba(140, 86, 20, 0.04);
  padding: 1em;
}

.main-right {
  padding-top: 1em;
}

.main-left__header,
.main-right__header {
  text-transform: uppercase;
}

.contact-list li {
  display: flex;
  align-items: center;
}

.contact-list__img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.main-right__article {
  max-width: 640px;
}

.soft-skills__list {
  line-height: 2em;
}

.technical-skills__list-li {
  height: 30px;
  display: flex;
  align-items: center;
}

.technical-skills__logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.projects-table__links a {
  display: block;
  text-decoration: underline;
}

.projects-table__links a:hover {
  color: rgb(140, 86, 20);
}

.project-img {
  width: 7em;
}

.code-container {
  width: 290px;
  background-color: rgb(223, 220, 213);
  overflow: auto;
}

.code {
  text-align: left;
  font-size: 12px;
}

.code-red {
  color: rgb(255, 0, 0);
}

.code-blue {
  color: rgb(0, 0, 255);
}

.code-green {
  color: rgb(0, 128, 0);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3em;
}

.footer-logo {
  width: 30px;
}

.project-name {
  text-align: center;
}

.project-explanation {
  font-size: 12px;
}

@media (max-width: 1020px) {
  tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    border: 1px solid #fff;
  }

  td {
    border: none;
  }

  .container {
    width: 700px;
    margin: 4em auto;
    padding: 10px;
  }

  .cv-name h1 {
    text-align: center;
  }

  .cv-name h3 {
    letter-spacing: 0.5em;
  }

  .main-left {
    margin-right: 1em;
    padding: 0.5em;
  }

  .project-img {
    display: none;
  }

  .projects-table__links,
  .project-explanation {
    text-align: center;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
    padding: 1em;
  }

  .main {
    flex-direction: column-reverse;
  }
  .main-left {
    width: 100%;
    margin-right: 2em;
    padding-left: 1em;
    padding: 1em;
  }

  .cv-photo img {
    width: 8em;
  }
  .cv-name h1 {
    margin-top: 0;
  }

  .cv-name h3 {
    letter-spacing: 0.1em;
    margin: 0;
  }
}

@media (max-width: 520px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 1em;
    border-radius: 0;
  }

  .nav {
    margin: 0;
  }

  .cv-name-info {
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
  }

  .cv-name h1 {
    font-size: 2em;
  }

  .cv-name h3 {
    letter-spacing: 0.1em;
    margin: 0;
  }

  tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    border: 1px solid #fff;
  }

  td {
    border: none;
  }

  .projects-table__links a {
    display: inline;
    gap: 30px;
  }

  .code-container {
    width: 250px;
    background-color: #fff;
  }

  .code {
    text-align: left;
    font-size: 10px;
  }
}
